.dashboard-container {
  padding: 20px;
}
.titulo {
  text-align: center;
}
.cards {
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;
}
.card {
  background: #4abdbd;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
}
.charts {
  display: flex;
  gap: 40px;
}
.chart {
  width: 45%;
}
