.buscador {
  width: 35%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contenedor-buscador {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.filtro-prioridad {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-family: "Lemon";
}
.filtro-estado {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-family: "Lemon";
}
.buscador-i {
  font-family: "Lemon";
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: linear-gradient(to right, #f0f0f0, #e8e8e8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
