.home-container {
  text-align: center;
  padding: 4rem;
  background-color: #5f94c0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  font-size: 2.5rem;
  font-family: "Lemon";
  margin-bottom: 1rem;
  color: #333;
}

.home-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.button-group button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #005fa3;
}
