.navbar {
  font-family: "Lemon";
  background-color: var(--navbar-bg);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--navbar-border);
  box-shadow: var(--navbar-shadow);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.navbar-title {
  font-size: 1.8rem;
  color: var(--navbar-title);
  margin: 0;
  transition: color 0.3s ease;
}

.logout-button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-family: "Lemon";
  background-color: var(--logout-bg);
  color: var(--logout-text);
  border: 2px solid var(--logout-border);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-button:hover {
  background-color: var(--logout-hover-bg);
  color: var(--logout-hover-text);
  border-color: var(--logout-hover-border);
}

a.nav-link {
  background-color: var(--navbar-bg);
  color: var(--nav-link-text);
  margin: 0 0.5rem;
  font-size: 1.5rem;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  text-decoration: none; /* quita el subrayado */
}

a.nav-link:hover {
  color: #136bb8; /* cambia color al pasar el mouse */
}
